<h1>Employees#index</h1>
<table> 
    <tr><center>Employees Details </center></tr>
    <tr class="table table-dark">
    <td>Employee Id</td><td>Name</td><td>Email</td><td>Show</td>  
    <td>Edit</td>
    </tr>
    <% @employees.each do |s| %>
      <tr>
        <td><%=s.id %></td>
        <td><%=s.employee_name %></td>
        <td><%=s.email %></td>
        <td><%= button_to 'Show', employee_path(s), method: :get%></td>
        <td><%= button_to 'Edit', edit_employee_path(s), method: :get%></td>    
      </tr>
    <% end %>
  </table>
  <%= button_to "Add a New Employee", new_employee_path,method: :get %>
  <%= button_to 'Search', employees_search_path, method: :get%>
