<h1>Employees#show</h1>
<% if flash[:notice] %> 
  <% flash.each do |name,msg| %>
    <hp style="color:green;"><%= msg %></p>
  <% end %>
<% end %>
<h2>Employee Details </h2>
<div>
  <p>
    <strong>Employee Id:</strong>
    <%= @employee.id %>
  </p>
  <p>
    <strong>Employee Name:</strong>
    <%= @employee.employee_name %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= @employee.email%>
  </p>
  <p>
    <strong>Gender:</strong>
    <%= @employee.gender %>
  </p>
  <p>
    <strong>Hobbies </strong>
    <%= @employee.hobbies %>
  </p>
  <p>
    <strong>Address:</strong><br/>
    <%= @employee.address %><br>
    <% @employee.addresses.each do |a|%>
      <strong>House name:</strong>
      <%= a.house_name%>
      <strong>Street name:</strong>
      <%= a.street_name%>
      <strong>Road name:</strong>
      <%= a.road%>
      <br>
    <%end%>
  </p>
  <p>
    <strong>Mobile Number:</strong><br/>
    <%= @employee.mobile_number %>
  </p>
  <p>
    <strong>Date of Birth:</strong><br/>
    <%= @employee.birth_date %>
  </p>
  <p>
    <strong>Document:</strong><br/>
    <% if @employee.document.attached? %>
      <%= image_tag @employee.document, style: "width: 100px; display: block:" %>
    <% end %>
  </p>
</div>

<%= button_to 'Edit', edit_employee_path(@employee), method: :get%>
<%= button_to 'Delete', employee_path(@employee), method: :delete%>
